@tailwind base;
@tailwind components;
@tailwind utilities;

.auth{
    background-image: url('./assets/auth-bg-image.jpeg');
}

.login{
    background-image: url('./assets/login-image.png');
}

.reg{
    background-image: url('./assets/reg-image.png');
}

.dash{
    background-image: url('./assets/test-bg-image.jpeg');
}

.bg-glass {
    @apply backdrop-blur-sm bg-black/40
}

.bg-ihsan {
    @apply bg-white/40 backdrop-blur-md border border-white/50
}